/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:whitesmoke;
}
.top-header{
    height: 550px;
    width: 100%;
    background-color: #2D25A0;
}
.main-header{
    display: flex;
}
.left-header{
    height: 300px;
    width: 30%;
    margin-top: 170px;
    margin-left: 200px;
}
.left-header h1{
    color: white;
    font-size: 50px;
}
.left-header p a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #E02C6D,#E04D82);
}
.left-header p a:hover{
    background-image: linear-gradient(to left, cyan,skyblue);
    color: black;
}
.right-header{
    height: 400px;
    width: 30%;
    margin-top: 100px;
    margin-left: 100px;
}
.right-header img{
    height: 100%;
    width: 100%;
}
.main-section{
    width: 100%;
    margin-top: 70px;
}
.main-content{
    width: 80%;
    margin: 0px auto;
}
.terms{
    display: flex;
    margin-bottom: 30px;
}
.players{
    height: 500px;
    width: 33%;
    background-color: white;
    margin-right: 2%;
    box-shadow: 5px 5px 10px gray;
}
.player{
    height: 250px;
    width: 90%;
    margin: 17px 17px;
}
.players h1{
    margin: 0px 17px;  
}
.players p{
    margin: 5px 17px;  
    text-align: justify;
    color: gray;
}
.highlight{
    margin-top: 100px;
}
.main-highlight{
    width: 80%;
    margin: 0px auto;
    height: 650px;
    display: flex;
}
.highlight-left{
    height: 400px;
    width: 40%;
    margin-top: 100px;
}
.highlight-left h1{
    font-size: 50px;
}
.highlight-left p{
    color: gray;
}
.highlight-left p a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #E02C6D,#E04D82); 
}
.highlight-left p a:hover{
    background-image: linear-gradient(to left, cyan,skyblue);
    color: black;
}
.highlight-right{
    height: 550px;
    width: 54%;
    margin-left: 45px;
    margin-top: 30px;
}
.highlight-right img{
    height: 100%;
    width: 100%;
}
.main-footer{
    height: 200px;
    width: 100%;
    margin-top: 50px;

}
.footer-content{
    height: 100%;
    width: 30%;
    margin: 0px auto;
 
}
.footer-content img{
    height: 80px;
    width: 80%;
    margin-left: 30px;
}
.footer-content p a {
    text-align: center;
    font-size: 30px;
    color: gray;
    padding: 5px 10px;
    background-color: lightgray;
    border-radius: 50%;
}
.footer-content p{
    text-align: center;
}
.footer-content p a:hover{
    background-color: darkcyan;
    color: white;
    border-radius: 50%;
}
/* Media Querys */

/* Mobile Divice */

@media only screen and (max-width: 688px) {
    .top-header{
        width: 100%;
        background-color: red;
        height: auto;
    }
    .main-header{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
    .left-header{
        width: 100%;
        margin: 0px;
    }
    .right-header{
        width: 100%;
        margin: 0px;
    }
    .main-content{
        width: 100%;
    }
    .terms{
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
    .players{
        width: 100%;
        height: auto;
    }
    .main-highlight{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        height: auto;
    }
    .highlight-left{
        width: 100%;
        margin:0px;
    }
    .highlight-right{
        width: 100%;
        margin: 0px;
    }
    .main-footer{
        width: 100%;
    }
    .footer-content{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
}
